{% extends './base.html' %}

{% load static %}

{% block content %}
<div class="container">
    <h3 class="text-center">Available Donors According to Blood Group</h3>
    <br>
    {% comment %} <div class="album py-5 bg-light"> {% endcomment %}
        <div class="container">
          {% comment %} <div class="row"> {% endcomment %}
          <table class="table table-sm table-bordered">
            <tr class="table-danger">
                  <th>Blood Group: A+</th>
                  <th>Blood Group: A-</th>
                  <th>Blood Group: B+</th>
                  <th>Blood Group: B-</th>
                  <th>Blood Group: O+</th>
                  <th>Blood Group: O-</th>
                  <th>Blood Group: AB+</th>
                  <th>Blood Group: AB-</th>
                </tr>
                {% for i in all_group %}
                <tr>
                  <td>{{i.total}}</td>
                </tr>
                {% endfor %}
              </table>


              
              </div>
            </div>
        </div>

{% endblock content %}

{% block script %}
    
{% endblock script %}