{% extends './base.html' %}

{% load static %}

{% block content %}

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <ol>
          <li><a href="index.html">Home</a></li>
          <li>Contact</li>
        </ol>
        <h2>Contact</h2>

      </div>
    </section><!-- End Breadcrumbs -->

  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact">
    <div class="container">

      <div class="row">
        <div class="col-lg-6">
          <div class="info-box mb-4">
            <i class="bx bx-map"></i>
            <h3>Our Address</h3>
            <p>37 EDSA corner Boni Avenue,<br>
                Barangka-Ilaya,<br>
                Mandaluyong City 1550</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="info-box  mb-4">
            <i class="bx bx-envelope"></i>
            <h3>Email Us</h3>
            <p>communication@redcross.org.ph</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="info-box  mb-4">
            <i class="bx bx-phone-call"></i>
            <h3>Call Us</h3>
            <p>(02) 8790-2300<br>
                local 931/932/935</p>
          </div>
        </div>

      </div>

      <div class="row">

        <div class="col-lg-6 ">
          {% comment %} <iframe class="mb-4 mb-lg-0" src="https://goo.gl/maps/MH9xgQFF9FxmMwCF8" frameborder="0" style="border:0; width: 100%; height: 384px;" allowfullscreen></iframe> {% endcomment %}
          <div class="mapouter"><div class="gmap_canvas"><iframe class="mb-4 mb-lg-0" id="gmap_canvas" src="https://maps.google.com/maps?q=37%20EDSA,%20corner%201550%20Boni%20Ave,%20Mandaluyong&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" style="border:0; width: 100%; height: 384px;"></iframe><a href="https://fmovies-online.net"></a><br></style></div></div>
        </div>

        <div class="col-lg-6">
          <form action="forms/contact.php" method="post" role="form" class="php-email-form">
            <div class="row">
              <div class="col-md-6 form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
              </div>
              <div class="col-md-6 form-group mt-3 mt-md-0">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
              </div>
            </div>
            <div class="form-group mt-3">
              <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
            </div>
            <div class="form-group mt-3">
              <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
            </div>
            <div class="my-3">
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">Your message has been sent. Thank you!</div>
            </div>
            <div class="text-center"><button type="submit">Send Message</button></div>
          </form>
        </div>

      </div>

    </div>
  </section><!-- End Contact Section -->


{% endblock content %}

{% block script %}
    
{% endblock script %}