{% extends './base.html' %}
{% load static %}
{% block content %}
<div class="container"> 
  <form method="POST">{% csrf_token %}
    {% if donors %}
      <h3 class="text-center">All Donor's</h3>
      <br>
      <table class="table table-sm table-bordered">
        <tr class="table-danger">
          <th>Name</th>
          <th>Blood Group</th>
          <th>State | City</th>
          <th>Status</th>
          <th>Details</th>
        </tr>
        {% for donor in donors %}
          <tr>
            <td>{{donor.donor}}</td>
            <td>{{donor.blood_group}}</td>
            <td>{{donor.state}} | {{donor.city}}</td>
            {% if donor.ready_to_donate %}
              <td>Ready to donate</td>
            {% else %}
              <td>Not ready to donate</td>
            {% endif %}
            <td><button type="button" class="btn btn-primary view_details" name='view' data-id="{{ donor.id }}">View</button></td>
          </tr>
        {% endfor %}
      </table>
    {% else %}
      <h3 class="text-center">All Donor's</h3>
      <br>
      <table class="table table-sm table-bordered">
        <tr class="table-danger">
          <th>Name</th>
          <th>Blood Group</th>
          <th>State | City</th>
          <th>Status</th>
          <th>Details</th>
        </tr>
      </table>
      <br><br><br>
            <div class="note text-center">
              <h5 class="empty">No Blood Request Available</h5>
            </div>
          <br><br><br>
    {% endif %}
  </form>

  <div class="modal fade" id="donorDetailsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">View</h5>
        </div>
        <div class="modal-body">
          <form method="POST"> {% csrf_token %}
          <div class="row mt-4">
           <div class="form-group col-md-12">
            <center><img src="{{donor_profile.image.url}}" alt="" width="210px" height="200px"></center>
            <br>
            <center><label><i style="font-weight: bold;">Status</i></label></center>
        </div>
      </div>

            <div class="row mt-4">
                <div class="form-group col-md-12">
                    <label><i style="font-weight: bold;">Name:</i></label>
                    <label><i style="font-weight: bold;">Jojo</i></label>
                </div>
            </div>

            <div class="row mt-1">
              <div class="form-group col-md-6">
                  <label><i style="font-weight: bold;">Blood Group</i></label>
                </div>
              </div>

            <div class="row mt-1">
              <div class="form-group col-md-6">
                  <label><i style="font-weight: bold;">State</i></label>
              </div>
              <div class="form-group col-md-6">
                  <label><i style="font-weight: bold;">City</i></label>
              </div>
          </div>
            
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

</div>

{% endblock content %}

{% block script %}
  <script>
    let view_details = document.getElementsByClassName('view_details');

    for (var i = 0; i < view_details.length; i++) {
      view_details[i].addEventListener('click', function() {
        var donors_id = $(this).data('id');
        console.log(donors_id)

        $('#donorDetailsModal').modal('show');

        $.ajax({
          url:'/view_donor_details',
          data:{
              'donors_id': donors_id,
          },
          success: function(data){
            if(data.success){
              console.log(data.donor)
            }
          },
          error: function(data){
            alert("fail");
          }

        });  
      });
    };

  </script>
{% endblock script %}
